<div id="img-preview-block" class="img-circle avatar avatar-original center-block" style="background-image:url(<%= @user.avatar.url %>)"></div>
<span class="btn btn-link btn-file center-block"><%= t ".edit_avatar" %><%= f.file_field :avatar, id: "upload-img" %></span>
<%= error_messages f.object, :avatar %>