// Variables

// Navbar

$navbar-main-border-color: $hr-border-color;

// Footer

$footer-dark-color:                 rgba(255,255,255,.5) !default;
$footer-dark-hover-color:           rgba(255,255,255,.75) !default;
$footer-dark-active-color:          rgba(255,255,255,1) !default;
$footer-dark-disabled-color:        rgba(255,255,255,.25) !default;

// Cards

$card-border-radius:       0;
$card-border-radius-inner: 0 !default;

// Sidebar

$sidebar-width: 250px;