/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "import";
@import "bootstrap";
@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sidebar";

// Mixins, variables, etc.

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Avatar images

img.avatar, div.avatar {
	background-size: cover;
	background-position: center;
	border: 1px solid $gray-lighter;
}

img.avatar.avatar-original, div.avatar.avatar-original {
	width: 7.625rem; // 120px + 1px border * 2
	height: 7.625rem; // 120px + 1px border * 2
}

img.avatar.avatar-medium, div.avatar.avatar-medium {
	width: 3.25rem; // 50px + 1px border * 2
	height: 3.25rem; // 50px + 1px border * 2
}

img.avatar.avatar-thumb, div.avatar.avatar-thumb {
	width: 2.375rem; // 38px + 1px border * 2
	height: 2.375rem; // 38px + 1px border * 2
}

.table td.avatar {
	width: 3.125rem; // 50px
}

// Navbar

.navbar-main {
  border-bottom: $border-width solid $navbar-main-border-color;
  .nav-user > .nav-link {
    padding: 0rem;
  }
}

// Sidebar

.sidebar {
  .sidebar-title {
    padding-bottom: 0.75rem; // 12px
  }
  .sidebar-item {
    padding: 0.25rem 0rem 0.25rem 0rem; // 4px
  }
}

// Footer

.footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
}

.footer-dark {
  background-color: $gray-dark;
}

// Colors

.bg-white {
  background-color: #FFF;
}

// Typography

html {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.btn, .dropdown-item  {
  font-weight: 300;
}

.text-clip {
  white-space: nowrap; /* Do not white-space */
  overflow: hidden; /* Cropped anything that does not fit in the area */
  text-overflow: ellipsis; /* Add a dot after cropped text */
}

a.black {
  color: #000;
  @include hover-focus {
    color: $brand-primary;
  }
}

a.text-muted {
  @include hover-focus {
    color: $brand-primary;
  }
}

// Universal

html {
  position: relative;
  min-height: 100%;
	overflow-y: scroll;
}

body {
	padding-top: 70px; /* Margin top by navbar height */
  background-color: $gray-lightest;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

// Forms

select.date-select {
	display: inline-block;
	width: auto;
}

// File upload

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type = file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

// Miscellaneous

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 0.9375rem; // 15px
  @include box_sizing;
  color: $footer-dark-color;
}

// Pagination

.pagination-block {
	text-align: center;
	div.pagination {
		margin-bottom: 0px;
	}
	ul.pagination {
		margin-bottom: 10px;
	}
	.pagination-info {
		margin-bottom: 20px;
	}
}

//Dropdowns
 
.dropdown.default-link-style {
  display: inline-block;
  a.dropdown-toggle {
    outline: none;
    padding: 5px; 
    border: 0; 
    box-sizing: none; 
    background-color: transparent;
    padding: 0;
    vertical-align: baseline;
  }
}

.dropdown, .btn-group {
  .dropdown-item.current {
    color: $brand-primary;
  }
}

// Tables
//
// Vertical align
.table.v-align tbody > tr > td,
.table.v-align tbody > tr > td > .row,
.table.v-align tbody > tr > td > .row > div {
  vertical-align: middle;
}

// Cards

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  border: 0px;
}