<li class='nav-item dropdown'>
  <a class='nav-link dropdown-toggle' data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>
    <%= current_locale_name %>
  </a>
  <div class='dropdown-menu' aria-labelledby='locale'>
    <% locale_list.each do |local_key, locale_name| %>
      <%= link_to locale_name, { locale: local_key }, class: 'dropdown-item' %>
    <% end %>
  </div>
</li>