<div id='modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <% if title %>
        <div class='modal-header'>
          <span class='lead'><%= title %></span>
        </div>
      <% end %>
      <div class='modal-body'>
        <p><%= body %></p>
      </div><!-- /.modal-body -->
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'><%= cancel_link_text %></button>
        <%= ok_link %>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->