<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">Workspace</a>
    </li>
    <li>
      <%= link_to icon("users", "Users", class: "fa-fw"), settings_users_path %>
    </li>
  </ul>
</div>