<nav class="navbar navbar-main navbar-full navbar-light bg-white">
  
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#main-navbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="main-navbar">
      <a class="navbar-brand" href="#"><%= app_name %></a>
      <ul class="nav navbar-nav pull-right">
        
        <%= render "layouts/language_menu" %>
        <%= render "layouts/user_menu" %>
      </ul>
    </div><!--/.nav-collapse -->
</nav><!--/.navbar -->