<nav class='navbar navbar-main navbar-full navbar-light bg-white'>
    <div class='collapse navbar-toggleable-xs' id='main-navbar'>
      <ul class='nav navbar-nav'>
        <li class='nav-item'>
          <button class='navbar-toggler' type='button' data-toggle='collapse' id='menu-toggle' data-target='#exCollapsingNavbar2'>
            &#9776;
          </button>
        </li>
      </ul>
      <a class='navbar-brand' href='#'><%= app_name %></a>
      <ul class='nav navbar-nav pull-right'>
        
        <%= render 'layouts/language_menu' %>
        <%= render 'layouts/user_menu' %>
      </ul>
    </div><!--/.nav-collapse -->
</nav><!--/.navbar -->